.header{
background-color:  #292A44;
height: 500px;
width: 100%;
color: #ffff;

}
nav{ /*styling the nav row*/
        font-size: 25px;
        font-weight: 700px;
        line-height: 2.0em;
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        position: relative;
        float: right;
        margin-right: 100px;
        padding: 15px;
        margin-top: -300px;
    }
    .header h1{
        margin-left: 45px;
        font-style: italic;
    }
    .bio{
        margin-left:250px ;
        margin-top: -20px;
    }
.nav-row a{
        color:#ffff;
        text-decoration: none;
        cursor:pointer;
    }
#logo{
        height:250px;
        width:250px;
        border-radius: 200px;
    }
#coder1{
        height:250px;
        width:500px;
        float: right;
        margin-top: -270px;
        margin-right: 50px;
        border-radius: 200px;
    }
    .talk{
        color: white;
        text-decoration: none;
        background-color: #C4402A;
        width: 200px;
        height: 35px;
        padding: 7px;
        border-radius: 10px;
        border-style: none;
        margin-left: 500px;
    
    }
.aboutme{
    background-color: #F8B75D;
    width: 100%;
    height: 380px;
    align-items: center;
}
.aboutme h2{
    text-align: center;
    font-family: sans-serif; 
    color:#030300;
}
.aboutme p{
    text-align: center;
    font-size: 17px;
    width: 500px;
    margin-left: 350px;
    line-height: 1.5em;
}
.website{
    background-color:#292A44 ;
    width: 100%;
    height: 600px;
}

.work{/*styling for the flexbox and its items*/
    background-color:  #292A44;
    width: 100%;
    height: 620px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.work>h2{
        width:100%;
        line-height: 1.0em;
        height:40px;
        text-align: center;
        color:#ffff;

 }
 .work>div>img{
     float: left;
 }
 .work>div>h3{
     margin-left: 40px;
 }
 .work>div>p{
     margin-top: auto;
text-align: center;
 }
 .website{
    width: 24%;
    height:350px;
    background-color: white;
    padding: 10px;
    margin:10px;
    margin-top:-80px;

}
.hobbies{
    height: 500px;
    width: 100%;
    background-color: #F8B75D;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.hobbies h1{
    text-align: center;
}
.hobbies img{
    border-radius: 200px;
}
#hobby{
    font-weight: 700;
    font-size: 17px;
    font-family: sans-serif;
}
.footer{
    height: auto;
    width: 100%;
    background-color:#292A44  ;
    color: white;
    font-weight: 700;
    font-size: 17px;
    
}
.footer img{
    height: 50px;
    width:50px;

}
.footer h2{
    text-align: center;
    font-weight: 400;
    font-family:'Open Sans'
}
.handles{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height:2.0rem;
    cursor:pointer;
    list-style-type: none;
}
.copyright{
    text-align: center;
    font-size: small;
    color:#F8B75D;
}


    
